.wallpaper  { 
  background-image: url('../img/wallpaper1.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: 75%;
  height: 66vh;
}
.projectBoxes {
  width: 25%;
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 20.5vh;
  color: #222;
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden;
  vertical-align: top;
}
.disappearingClass1 {
  transition: 0.4s;
}
#aboutUsBox {
  background-color: #fff;
}
#itFliesBox {
  background-color: #ddd;
  /*background-image: url('../img/index/mp500.jpg');*/
  background-size: 100%;
  background-repeat: no-repeat;
}
#projectPhoenixBox {
  background-color: #fff;
  /*background-image: url('../img/index/1.jpg');*/
  background-size: 100%;
  background-repeat: no-repeat;
}
#aiaaBox  {
  background-color: #ddd;
  /*transform: rotate(90deg);
  transform-origin: left top 0;*/
}
.projectImgCaptionT a {
  text-decoration: underline;
  cursor: pointer;
}
.projectImgCaptionT {
transition: 0.4s;
}
#crest	{
	display: none;
	transition: 0.4s;
}
.expandResetX	{
	display: inline-block;
	color: #111;
  z-index: 4;
  text-decoration: none;
}
.expandResetX  {
  z-index: 4;
  display: none;
  float: right;
}
.expandedBoxDescription {
  display: none;
  width: 91vh;
}
.disappearingClass1 h1 {
    margin-bottom: 0;
}