/*=================== PROJECT NAVIGATOR ===================*/
#projectNav {
    width: 100%;
    height: 120px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 10px 0;
    transition: 0.3s;
    z-index: 0;
}
.projectScroll  {
    top: 60px;
    width: 5%;
    padding: 42.5px 0;
    background-color: #283238;
    color: #eee;
    position: absolute;
    display: inline-block;    
    transition: 0.3s;
}
.projectScroll a {
    padding: 45px 40px;
    text-decoration: none;
    color: #eee;
    font-size: 25px;
}
.projectScroll a:hover    {
    color: #bb882e;
}
.projectScroll a:active    {
    color: #eee;
}
.leftN  {    
    float: left;
    left: 0;
    padding-left: 20%;
}
.leftN a {    
    padding-left: 80px;
}
.leftN:active {
    transition: 0.3s;
    background: linear-gradient(to right, #283238 , #660099);   /*#3a7cff*/
}
.rightN:active {
    transition: 0.3s;
    background: linear-gradient(to left, #283238 , #660099);
}
.rightN {
    float: right;
    right: 0;
    padding-right: 20%;
}
.rightN a {    
    padding-right: 80px;
}
.enclosure  {
    width: 50%;
    height: 120px;
    margin: 0 auto;
    background-color: #ddd;
    overflow-x: scroll;
    overflow-y: hidden;
}
.enclosure a {
    text-decoration: none;
    color: #111;
}
#projectUl {
    width: 200%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    transition: 0.3s;
    margin-left: 0;
}
.projectLi  {
    width: 2%;
    height: 80px;
    padding: 10px 4% 20px 4%;
    margin-bottom: 20px;  /*pushes the scrollbar away*/
    float: left;
    position: relative;
    list-style: none;
    transition: 0.2s;
}
.projectLi:hover    {
    background-color: #bbb;
}
.projectLiImg  {
    width: 80px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: block;
    z-index: 1;
    margin-left: -20px;
}
.projectLiTitle {
    padding-top: 56px;
    white-space: nowrap;
    text-align: center;
    width: 100px;
    z-index: 2;
    font-size: 17px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: -30px;
}
.hide   {
    display: none;
}
#toggleProjNav  {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#toggleProjNav a {
    text-decoration: none;
}
#toggleProjNavA {
    }
#toggleProjNavB {
    display: none;
}
/*=================== PAGE CONTENT ===================*/
    .wallpaper  {
        width: 100%;
        overflow: hidden;
        background-image: url('img/projects/deltaStream.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #wallpaper  {
        width: 50%;
        height: 50%;
    }
    .pageContent    {
        width: 50%;
        margin: 0 auto;
    }
    .wallpaperBar   {
        width: 100%;
        height: 60px;
        background-color: #283238;
        text-align: left;
        float: left;
        font-family: 'Libre Franklin', sans-serif;
    }
    .wallpaperBar h1  {
        color: #eee;
        text-align: center;
        font-size: 25px;
        padding-top: 0;
    }
    .wallpaperBar h2  {
        display: none;
        color: #eee;
        text-align: center;
        font-size: 25px;
        padding: auto;
        width: 100%;
        margin-top: 3%;
    }
    @media all and (max-width: 1000px) {   
    .leftN  {
        padding-left: 10%;
    }
    .rightN  {
        padding-right: 10%;
    }
    .enclosure  {
        width: 70%
    }
}
@media all and (max-width: 800px) {   
    .leftN .rightN {
        display: none;
    }    
    .enclosure  {
        width: 100%
    }
}