body	{
	margin: 0;
	padding: 0;
	height: 100%;
}

p	{
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container: { 
    max-width: 100%;
    margin: auto 0;
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

/*=================== TOP NAVIGATION ===================*/

header {
    height: 60px;
    width: 100%;
    background-color: #151718;
    text-align: left;
}

#logo {
    position: absolute;
    height: 50px;
    margin: 5px 0 0 5px;
}
#logo img {
    top: 0;
    height: 100%; 
}

ul.topNavClass {
    list-style-type: none;
    padding: 0;
    background-color: transparent;
    text-align: none;
    width: 48%; /*width across which topNav spans*/
    margin: auto; /*equal margin on either side of topNav*/
    height: 100%; /*100% of header height*/
}

ul li {
    display: inline;
    text-align: center;
    height: 100%; /*100% height of ul, which in turn is 100% height of header*/
    width: 16%; /*width of list element with respect to ul*/
}

#headerHr   {
    height: .25rem;
    width: 16%; 
    margin: 0;
    background: rgb(255, 229, 0);    /*#af2208   #d62c0d    #665e99    102, 0, 153*/
    border: none;
    transition: .15s ease-in-out;
    transform: translate(0%);
    margin-left: 0%; /*unfocussed and starting distance between hr and left edge of constraint - refer to html document to set this*/
    z-index: 1;
    margin-top: -.25rem;
}

.one:hover ~ hr {
  margin-left: 0%;
  /*transform: translate(0%);*/
}

.two:hover ~ hr {
  margin-left: 16%;
  /*transform: translate(103%);*/
}

.three:hover ~ hr {
  margin-left: 32%;
 /* transform: translate(206%);*/
}

.four:hover ~ hr {
  margin-left: 48%;
  /*transform: translate(309.5%);*/
}

.five:hover ~ hr {
  margin-left: 64%;
  /*transform: translate(410%);*/
}

.six:hover ~ hr {
  margin-left: 80%;
  /*transform: translate(515%);*/
}

.topNavBtn {    /*css for topNav menu buttons*/
    display: inline-block;
    color: #eee;
    text-align: center;
    padding: 10% 20px;  /*Needs to be addressed in media queries*/
    position: relative;
    text-decoration: none;
    font-size: 17px;
    height: 52%;
    z-index: 2;
}

/*ul.topNavClass li a::after {
    display:block;
    content: attr(id);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
    }*/

.mobNav {
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #000;
}

    /*=================== TOP NAVIGATION DROPDOWN ===================*/

    .topNavLi {
        position: relative;
        display: inline-block;
        margin: 0;
    }

    .dropdown {
        list-style-position: inside;
        position: absolute;
        display: none;
        background-color: #1b1e1f;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
        width: 100%;
    }

    .dropdown a    {    /*css for dropdown links*/
        display: block;
        color: #eee;
        padding: 12px 16px;
        text-align: center;
        position: relative;
        text-decoration: none;
        font-size: 17px;
    }

    .dropdown a:first-of-type   {
        padding-top: 14px;
    }

    .dropdown a:hover {
        background-color: #333
    }

    .topNavLi:hover .dropdown {
        display: block;
    }

    .topNavLi:hover .topNavbtn {
        background-color: #3e8e41;
    }

    /*=================== SIDE NAVIGATION ===================*/

    .toggleSideNav    {
        cursor: pointer;
        position: absolute;
        top: 0;
        width: auto;
        height: auto;
        margin: 0 0 0 116px;
        padding: 250% 10px 300% 10px;
        background-color: transparent;
        color: white;
        font-weight: bold;
        font-size: 12px;
        transition: 0.6s cubic-bezier(0.42, 0, 0.87, 1.68);
        left: 0;
        text-shadow: 1px 1px 5px #555555;
        z-index: 2;
    }

    #toggleSideNavId    {
        transition: 0.6s;
    }

/*.toggleSideNav:hover  {
    background color: #222;
    }*/

    .sideNavClass    {
        height: 100%;
        width: 146px;
        position: fixed;
        margin-left: 0px;
        z-index: 1;
        top: 60px;
        /*bottom: 60px;*/
        left: 0;
        background-color: #333;
        overflow-x: hidden;
        padding-top: 0;
        transition: 0.5s;
        z-index: 1;
    }

/* 
input[type=text] {
    width: 205px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 4px 8px 4px 18px;
    margin: 2px;
    margin-bottom: 25px;
} 
*/


.sideNavClass a {
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #eee;
    display: block;
    transition: 0.3s;
}

.pplink a {       
    color: #444 !important; 
    font-size: 17px !important;
    margin: 0;
    padding: 0;  
    width: 100%;
}

.pplink a:hover   {
    background-color: #777;
    color: #999;
}

.sideNavClass a:hover, .offcanvas a:focus    {
    color: #f1f1f1;
}

.accordion {
    background-color: #555;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: all 0.4s ease;

}

.accordion.active, .accordion:hover {
    background-color: #ccc;
    color: #ddd;
}

.accordion.active a, .accordion:hover a {
    color: #ddd;
}

.panel {
    padding: 0 18px;
    background-color: #eee;
    transition: 0.4s;
    display: none;
}

.show {
    display: block;
}

#about-info {
    transition: 0.3s;
}
#contact-info {
    transition: 0.3s;
}

/*=================== PAGE CONTENT ===================*/

.container  {
    text-align: center;
    width: 100%;
}

.wallpaper  {
    width: 100%;
    height: 20px;
    overflow: hidden;
}

#wallpaper  {
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.pageContent    {
    width: 50%;
    margin: 0 auto;
}

#wallpaperBar   {
    width: 100%;
    height: 60px;
    background-color: #151718;
    text-align: left;
    float: left;
}

#wallpaperBar h1  {
    color: #eee;
    text-align: center;
    font-size: 25px;
    padding-top: 0;
}

/*=================== FOOTER ===================*/

footer {
    height: 60px;
    width: 100%;
    background-color: #eee;
    text-align: left;

}

#footerHr   {
    width: 1024px;
}

.footerList1    {
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.footerList1 a  {
    color: #555;
    padding: 0 2% 0 2%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

li.follow    {
    color:#888;
    padding: 0 2% 0 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.footerList1 a:hover   {
    text-decoration: underline;
}

.break  {
    display: none;
}

.short  {
    display: none;
}

/*=================== MEDIA QUERIES ===================*/

@media all and (max-width: 1350px) {
    .footerList1    {
        margin-bottom: 10px
    }
}

@media all and (max-width: 1150px) {
    #footerHr   {
        width: 90%;
    }
}

@media all and (max-width: 1120px) {
    ul.topNavClass {
        width: 60%;        
    }
}

@media all and (max-width: 925px) {
    footer{
        padding-bottom: 20px;
    }
    #footerHr   {
        width: 70%;
    }
    .antiBreak  {
        display: none;
    }
    .break  {
        display: block;
    }
    ul.topNavClass {
        width: 70%;        
    }
    .topNavbtn{
        font-size: 13px;
    }
}

@media all and (max-width: 800px) {
    ul.topNavClass {
        width: 80%;        
    }
    .topNavbtn{
        font-size: 10px;
    }
    .full {
        /*display:none;*/
        width: 90%;
    }
    /*.short  {
        display: inline-block;
        width: 90%;
    }*/
}

@media all and (max-width: 700px) {
    .topNavClass    {
        display: none;
    }
    .mobNav {
        display: inline-block;
    }
}

@media all and (max-width: 480px) {
    footer{
        padding-bottom: 40px;
    }
    .full {
        display:none;
    }
    .short  {
        display: inline-block;
        width: 90%;
    }
}
}