/*=================== SIDE NAVIGATION ===================*/

  .toggleSideNav    {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    height: auto;
    margin: 0 0 0 116px;
    padding: 250% 10px 300% 10px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.6s cubic-bezier(0.42, 0, 0.87, 1.68);
    left: 0;
    text-shadow: 1px 1px 5px #555555;
    z-index: 2;
}

#toggleSideNavId    {
    transition: 0.6s;
}

/*.toggleSideNav:hover  {
    background color: #222;
    }*/

    .sideNavClass    {
        height: 100%;
        width: 146px;
        position: fixed;
        margin-left: 0px;
        z-index: 1;
        top: 60px;
        /*bottom: 60px;*/
        left: 0;
        background-color: #333;
        overflow-x: hidden;
        padding-top: 0;
        transition: 0.5s;
        z-index: 1;
    }

    .sideNavClass a {
        padding-left: 10px;
        text-decoration: none;
        font-size: 20px;
        color: #eee;
        display: block;
        transition: 0.3s;
    }

    .pplink a {       
        color: #444 !important; 
        font-size: 17px !important;
        margin: 0;
        padding: 0;  
        width: 100%;
    }

    .pplink a:hover   {
        background-color: #777;
        color: #999;
    }

    .sideNavClass a:hover, .offcanvas a:focus    {
        color: #f1f1f1;
    }